header, main {
    font-family: Montserrat;
    font-size: 18px;
}

header, footer {
    font-weight: 700;
}

.top-menu-a {
    text-decoration: none; 
    color: #FF0000;
    display: inline-block;
}

.top-menu {
    text-align: center;
    text-transform: uppercase;
}

.top-menu-li {
    list-style-type: none; 
    display: inline;
    text-align: center;
    margin: 25.5px;
}

.img {
    width: 1280px;
    height: 789px;
    top: 78px;
    display: block;
    margin: 0 auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    font-size: 22px;
    margin: 49px auto 38px auto;
}

.content {
    text-align: center;
    color: #373737;
    font-size: 16px;
    letter-spacing: 2.4px;
    width: 1145px;
    top: 115px;
    bottom: 66px;
    display: block;
    margin: 0 auto;
}

.red-btn {
    display: block;
    text-align: center;
    padding: 18px 43.5px 19px 42.5px;
    width: 105px;
    background: #FF0000;
    border-radius: 4px;
    border: #FF0000;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1.8px;
    margin: 66px auto 82px auto;
    text-decoration: none;
}

footer {
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
    margin: auto;
    width: 1145px;
    text-align: right;
}